.list {
    margin: 0;
    padding: 0;
    list-style: none;

    .item {
        border-radius: 20px;
    }

    .item:nth-child(odd) {
        background: aquamarine;
    }

    .link {
        display: block;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid aquamarine;
        border-radius: 20px;
        color: #000;
        text-decoration: none;
        transition: 0.2s;

        &:hover {
            box-shadow: 0 0 9px -1px #fff;
        }
    }

}
